<header class="header row g-0">
    <div class="col-3">
        {{> logo}}
    </div>

    <nav class="header_nav col-9">
        <div class="header_nav_right">
            {{> nav list=header}}
        </div>
    </nav>

</header>

<div class="hero">
    {{#with main}}
    <img src="{{image}}" alt="Hero image" class="hero_image">
    <div class="hero_content">
        <h1 class="hero_title">{{heading}}</h1>
        <p class="hero_text">{{description}}</p>
        <div>
            <a href="{{href}}" class="button hero_button">{{button}}</a>
        </div>
    </div>
    {{/with}}
</div>

<main class="featured">
    {{#each featured}}
    {{> cardFeatured data=this}}
    {{/each}}
</main>

<div class="form">
    {{#each actions}}
    {{> actions data=this}}
    {{/each}}
</div>


<footer class="footer">
    <div>
        {{> logo}}
        <span class="footer_copyright">Copyright 2023-2024</span>
    </div>

    {{#each footer}}
    <div>
        <span class="footer_title">{{title}}</span>
        {{> nav list=links isVertical=true}}
    </div>
    {{/each}}
</footer>