{{#with data}}

<div class="featured">
    <div class="featured_content">
        <img class="featured_image" style="background-image: url({{photo}})">
        <h2 class="featured_title">{{heading}}</h2>
        <p class="featured_text">{{info}}</p>
        <a href="{{linkUrl}}" class="button featured_button">{{linkText}}</a>
    </div>
</div>

{{/with}}